<div class="container mt-5">
    <a routerLink="/" class="d-flex align-items-center flex-column logo">
        <img src="/assets/img/logo.png" alt="image">
    </a>
    <nav class="d-flex contenedor-menus mt-4">
        <ul>
            <li>
                <a routerLink="/clientes" class="d-flex menu-actual">
                    <fa-icon [icon]="faUserAlt"></fa-icon>
                    <p>Clients</p>
                </a>
            </li>
            <li><a routerLink="/clientes"><p>Client look history</p></a></li>
            <li><a routerLink="/clientes"><p>Emergency PIN configuration</p></a></li>
            <li><a routerLink="/clientes"><p>Emergency PIN history</p></a></li>
        </ul>
    </nav>
</div>