ul {
    list-style: none;
}

nav .menu-actual{
    color: #007bffcc;
}

nav.contenedor-menus {
    font-size: 14px;
    line-height: 15px;
}

nav.contenedor-menus ul {
    padding: 0px;
}

nav.contenedor-menus ul li a p {
    padding: 0px 10px;
}