<div class="container mt-5">
    <div class="row">
        <div class="col-12 d-flex">
            <div class="form-group">
                <button class="btn btn-primary btn-xs" (click)="mostrarFormulario(true)">
                    <fa-icon [icon]="faPlus"></fa-icon>
                    New
                </button>
            </div>
            <div class="form-group ml-1">
                <button (click)="generarPDF()" class="btn btn-xs btn-primary">
                    <fa-icon [icon]="faShareSquare"></fa-icon>
                    Export
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="form-group">
                <input id="campoBusqueda" class="form-control" [(ngModel)]="textoBusqueda" type="text" placeholder="Enter shared key" />
                <div id="btnLimpiar" class="btn btn-default" (click)="limpiarBusqueda()">
                    <fa-icon [icon]="faTimes"></fa-icon>
                </div>
                <div id="btnBuscar" class="btn btn-default" (click)="buscarCliente()">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="form-group">
                <button id="btnAvanzada" class="btn btn-primary">Advanced Search</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <app-form [cliente]="clienteSelect" [mostrar]="mostrandoFormulario" (formularioEvento)="mostrarFormulario($event)" (creadoEvento)="listarClientes()"></app-form>

            <div class="container mt-3 p0">
                <h4 class="row mb-3 titulo-tabla">Clients</h4>
                <div class="row table-responsive">
                    <table id="tabla-clientes" class="table table-bordered table-sm">
                        <thead>
                            <th>Shared Key</th>
                            <th>Business ID</th>
                            <th>E-mail</th>
                            <th>Phone</th>
                            <th>Date Added</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of clientes">
                                <td>{{cliente.shared_key}}</td>
                                <td>{{cliente.business_id}}</td>
                                <td>{{cliente.email}}</td>
                                <td>{{cliente.phone}}</td>
                                <td>{{cliente.date_added}}</td>
                                <td>
                                    <button class="btn btn-primary" (click)="editarCliente(cliente)">
                                        <fa-icon [icon]="faPencilAlt"></fa-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
    </div>
</div>